-pages = ['inicio', 'nosotros', 'servicios', 'portafolio', 'contacto']
-pageTitle = 'Inicio'
-currentPage = 'inicio'
-siteTitle = 'Creativos SMD'
-description = 'Bienvenidos al sitio web de Práctica de Creativos SMD'
-siguenos = true