extends templates/template

append config
    -pageTitle = 'Contáctenos'
    -description = 'En esta pagina usted podra contactarnos'
    -currentPage = 'contacto'

block main
	<iframe height="499" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="https://iscosalinas.wufoo.com.mx/embed/zmblxeu1dfl0u9/"><a href="https://iscosalinas.wufoo.com/forms/zmblxeu1dfl0u9/">Fill out my Wufoo form!</a></iframe>
block footer
	p Creativos SMD - Derechos reservados