extends templates/template

append config
    -pageTitle = 'Contáctenos'
    -description = 'En esta pagina usted podra contactarnos'
    -currentPage = 'contacto'
block footer
    p Creativos SMD - Derechos reservados